@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
/* universal selector - Applies to whole document */
* {
    padding: 0;
    box-sizing: border-box;
    background: #3a3a3a;
    color: #fff;
    font-family: 'Merriweather', sans-serif;
}

/* To center everything in game */
.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* Title of the game */
.title {
    position: absolute;
    top: 0;
    font-size: 4rem;
    z-index: 2;
}

/* Score Board */
.score {
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 70px;
}

/* Score  */
.p-count,
.c-count {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

/* displaying three buttons in one line */
.options {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;

}

/* Styling on all three buttons */
.rock,
.paper,
.scissor {
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    background: #3a3a3a;
    outline: none;
    border-color: black;
    border: none;
    cursor: pointer;
} 
.rock hover {
    border-color: #fff;
}
.paper hover {
    border-color: #fff;
}
.scissor hover {
    border-color: #fff;
}
.move {
    font-size: 2rem;
    font-weight: bold;
}

/* Reload button style */
.reload {
    display: none;
    padding: 1rem;
    background: blue;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    top: 20%;
}

.result {
    font-size: 1.2rem;
}

/* Responsive Design */
@media screen and (max-width: 612px) {
    .title {
        text-align: center;
    }
    .move{
        position: relative;
    }
    .score {
        position: absolute;
        top: 140px;
        width: 100vw;
    }
    .options {
        position: relative;
        width: 100vw;
        top: 20%;
    }
    .result{
        position: relative;
       }
    .rock .scissor .paper{
        position: relative;
            top: 70%;
        }
    }
